body {
    background-image: url('flight.jpg'); /* Source: iStockPhoto */
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin-top: 600px;
    background-color: #000;
    opacity: 0.9;
    color: #fff;
    padding: 40px;
    margin-left: 300px;
    margin-right: 300px;
}

.console {
    margin-top: 20px;
    background-color: #000;
    opacity: 0.9;
    color: #fff;
    padding: 40px;
    margin-left: 300px;
    margin-right: 300px;
}

.containerB {
    margin-top: 600px;
    background-color: #000;
    opacity: 0.9;
    color: #fff;
    padding: 40px;
    margin-left: 300px;
    margin-right: 300px;
}

.top-20 {
    margin-top: 10px;
}

h5 {
    color: #999999;
}

section {
    margin-bottom: 50px;
}

.field {
    font-weight: bold;
    text-align: right;
}

.field-value {
    color: #0e7fa8;
}

label.form {
    font-size: 25px;
    margin-right: 20px;
}

input {
    margin-left: 200px;
    width: 40px;
    text-align: right;
}

.btn-primary {
    font-size: 19px;
}

.eth {
    color: #4b4b4b;
    margin-left: 5px;
}

.btn-oracles {
    margin-left: 200px;
}

.label-flight {
    margin-left: 50px;
}